<app-comprador></app-comprador>
<div class="wrap col-lg-4">
    <h1>Mi Cuenta</h1>
    <div class="store-wrapper">
        <div class="category_list">
            <a href="/home/perfil">Mi Cuenta</a>
            <a href="#">mis productos</a>
            <a href="/inicio">cerrar sesion</a>
        </div>
        <div class="marco">
            <mat-list class="items">
                
                <mat-list-item>Nombre: Edy Jeanpierre</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>Apellido: Maza Yamunaque</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>Correo: eddy@gmail.com</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>Contraseña: ***********</mat-list-item>
                <mat-divider></mat-divider>
              </mat-list>
        </div>
        
    </div>
    <button class="color" mat-raised-button [routerLink]="'/edit'">Editar</button>
   
</div>
