.body{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    
}

h5{
    margin-top: 1rem;
    margin-left: 10%;
}
.imagen{
    
    margin-left: 40px;
}
h1{
    margin-left: 90px;
}

.login{
    width: 100%;
    max-width: 330px;
    align-items: center;
}

.ancho{
    width: 80%;
}

button{
    height: 50px;
}