<app-navbar></app-navbar>
<div class="body">
    <div class="login">
        <img class="imagen" src="../../../assets/img/usuario (1).png" width="50%">
        <h1>Login</h1>
        
        <form [formGroup]="myForm" autocomplete="off" (ngSubmit)="login()">

          <div>
                <mat-form-field appearance="fill" class="ancho">
                  <mat-label>correo electronico</mat-label>
                  <input formControlName="correo" matInput placeholder="pat@example.com">
                </mat-form-field>
                <div
                  *ngIf="
                   myForm.get('correo')?.hasError('required') &&
                  myForm.get('correo')?.touched
                  "
                  style="margin-top: -20px"
                >
                <span class="mda-form-msg">Este elemento es requerido </span>
                </div>
              </div>
    
  
              <div>
              <mat-form-field appearance="fill" class="ancho">
                  <mat-label>Contraseña</mat-label>
                  <input formControlName="contrasenia" matInput [type]="hide? 'password' : 'text'">
                  <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                </mat-form-field>
                <div
                *ngIf="
                 myForm.get('contrasenia')?.hasError('required') &&
                myForm.get('contrasenia')?.touched
                "
                style="margin-top: -20px"
              >
              <span class="mda-form-msg">Este elemento es requerido </span>
              </div>
              </div>
                <button type="submit" class="ancho" mat-raised-button
                [disabled]="myForm.invalid"
                color="primary"
                >Ingresar</button>
                <h5>Aun no estas registrado <a [routerLink]="'/registro'">Registrate</a></h5>
        </form>
    </div>
</div>



