<h1>Preguntas Frecuentes</h1>


<div>
    <p>Ultima actualización: 12/10/2022</p>
    <p><b>¿Cómo puedo saber cuando llega mi producto?</b></p>
    <p>
        Puedes hacer seguimiento de tu despacho con el número de orden de despacho que encuentras en la boleta de tu compra. Ahí encontrarás toda la 
        información que necesitas para saber cuándo llegarán tus productos.
    </p>
    <p>Mis pedidos</p>
    <br>
    <p><b>¿Puedo cambiar la fecha o dirección de mi despacho?</b></p>
    <p>Por su seguridad, una vez realizada la compra no es posible realizar un cambio de dirección.
        Si desea cambiar la dirección, debe de cancelar el producto y volver a colocar la direccion correcta.
    </p>
    <br>
    <p><b>¿Qué pasa si mi producto no llega en la fecha indicada?</b></p>
    <p>Si el producto no ha llegado en la fecha pactada, puedes enviar un correo a contacto@CandyStore.com o llamando a Servicio al Cliente 600 380 5000.</p>
    <br>
    <p><b>¿Qué hago si no llegaron todos los productos que compré?</b></p>
    <p>Si compras más de un producto, existe la posibilidad de que los recibas en despachos y fechas diferentes. 
        Revisa en la boleta o solicitud de compras las fechas correspondientes o llámanos al Servicio al Cliente al 600 380 5000. </p>
    <br>
</div>
