
        <div class="content">
            <div class="toolbar">
                <mat-toolbar>
            
                    <span>
                        <img src="../../../assets/img/LOGO.png" alt="CandyStore Logo">
                    </span>

                    <span class="example-spacer"></span>
                    <button class="color" mat-raised-button routerLink="/home/categorias/{{idUser}}">Categorias</button>
                    <button class="color" mat-raised-button routerLink="/home/faqs/{{idUser}}">FAQ'S</button>
                    <span><a routerLink="/home/perfil/{{idUser}}">
                        <img  class="user" src="../../../assets/img/users.png" alt="">
                    </a>
                    </span>

                    <button routerLink="/home/carrito/{{idUser}}" mat-icon-button >
                        <mat-icon>shopping_cart</mat-icon>
                    </button>
                    
                </mat-toolbar>
            </div>
        </div>
    