<mat-toolbar> 
    <mat-toolbar-row>
        <span>
            <img src="../../../assets/img/LOGO.png" alt="CandyStore Logo">
        </span>
        <span class="example-spacer"></span>
        <button class="color" mat-raised-button [routerLink]="'/home/categorias'">Categorias</button>
        <button class="color" mat-raised-button [routerLink]="'/home/faqs'">FAQ'S</button>
        <span>
            <img [routerLink]="'/home/perfil'" class="user" src="../../../assets/img/users.png" alt="">
        </span>
        <button [routerLink]="'/home/carrito'" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <mat-icon>shopping_cart</mat-icon>
        </button>
        
    </mat-toolbar-row>

</mat-toolbar>
